html,body{
	padding: 0;
	margin: 0;
}

body{
	padding-top: 100px;
	padding-bottom: 100px;
	height: 2000px;
}
.container{
	width: 995px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
	border-radius: 5px;
	background: #eee;
}

[class^="item"]{
	text-align: center;
	padding: 25px;
	box-shadow: inset 5px 5px 15px #fff;
	margin-bottom: 100px;
	background: #fff;
}
.myElement{
	position: fixed;
	right: 0;
	top: 100px;
	width: 35px;
	height: 1px;
	background: red;
}