Options -MultiViews
RewriteEngine On
RewriteBase /stayapp/

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ /stayapp/index.php?url=$1 [QSA,L]

<Files .htacces>
order allow,deny
deny from all
</Files>